@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-google bg-slate-50;
  }

  input[type='date'] {
    background: transparent;
    color: indigo;
  }

  button {
    @apply px-4 py-2  rounded-md whitespace-nowrap;
  }

  h1 {
    @apply text-4xl font-bold;
  }

  h2{
    @apply text-3xl
  }
  h4{
    @apply text-xl
  }

  input, select {
    @apply border rounded py-2 px-3 focus:outline-none bg-transparent focus:bg-white focus:scale-x-110;
  }

  label {
    @apply text-slate-500;
  }

  @font-face {
    font-family: 'Google Sans';
    src: url(../fonts/latin.woff2);
  }
}

@layer utilities {
  .primary-btn {
    @apply bg-primary text-white;
  }

  .filter__input__label {
    @apply flex items-center space-x-2;
  }
}
